:root {
  --darkRed: #c4080e;
  --lightRed: #f76363;
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffa400;
}

body {
    font-family: 'Oswald', sans-serif !important;
    background: #f0e6e6 !important;
    color: var(--black) !important;
}

.login-bgcolor {
  background-color: var(--yellow);
}

.login-form {
  margin: auto auto auto 40%; 
  padding: 15px; 
  height: 235px;
  width: 300px;
  position: relative;
  border: transparent;
  border-radius: 1em; 
  background-color: white;
}

.text-title {
    font-family: 'Permanent Marker', cursive ;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-red{
  color: var(--darkRed);
}

.text-light{
  color: var(--lightRed);
}

.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
